In [35]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [36]:
import selenium
from selenium import webdriver

In [37]:
driver=webdriver.Chrome("D:\\chromedriver_win32\\chromedriver.exe")

In [38]:
driver.close()

In [39]:
driver=webdriver.Chrome("D:\\chromedriver_win32\\chromedriver.exe")

In [40]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [41]:
#finding element for job search bar

search_job= driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc= driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys("Noida")

In [42]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [43]:
#Specifying the url of the webpage to be scraped
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [44]:
#Lets open the webpage through our web driver
driver.get(url)

#Now we need to create empty lists for 4 features
1.company_names 2.Rating_of_company 3.No_of_salaries 4.Max_salary 5.Min_salary

In [45]:
company_names=[]
No_of_salaries=[]
Max_salary=[]
Min_salary=[]
Average_salary=[]

In [46]:
#Extract the tag having the company names
companies_tags=driver.find_elements_by_xpath("//p[@class='m-0 ']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="dc7c1079-e48b-4417-984a-6e46ea7e09bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="9f6edfd0-a1d3-4db9-abdb-6cab0a754287")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="56b8c81a-d8ae-4c11-a9e5-d6654e5860d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="026de7b4-7c01-47b3-b6b4-f20eca6537dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="c0c3c86f-d412-48b6-88a0-03c0be40c760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="0ab83e45-6a97-4bb7-abdc-b972d028bb22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="7aabf1b0-4d8a-4da9-ba20-16e6f6097dde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="926edf74-0b49-4f5b-a75c-f320dffca1ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="13f6d16a-92f6-4094-a0a4-1ab5a563d0f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="ef0fa916-4783-4a4c-8f09-6bbe35602239")>]

In [47]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'EXL Service']

In [48]:
#Extract the tag having the No of Salaries
salaries_tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
salaries_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="9a3946ec-3430-493b-8d7b-79e97cc46d61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="16b6233f-ed7d-462c-b6f1-b54a256f33c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="19ed7696-8760-45e4-8cf9-b757ece58330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="5611293c-2e84-49d4-ab20-bd6685aafdef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="ce1aa301-017a-428d-be85-d000919d3fc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="947cca2a-5fcf-4552-bc33-a1f273e1ba1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="d5e4fcd6-79cb-4e05-af6d-4c9ca3b35c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="f28b8db9-1f32-4223-bcca-59772f11915e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="88a21c3c-6d4c-4514-bd55-ee72be00c9ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="7d574d26-c060-4055-a3d3-328253e6f3b4")>]

In [49]:
for i in salaries_tags:
    salary=i.text
    No_of_salaries.append(salary)
No_of_salaries[0:10]

['13 salaries',
 '12 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries']

In [50]:
#Extract the tag having the Average Salary
avg_salaries_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_salaries_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="ba396f7d-6c92-40b4-a3d4-681959a30035")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="f777d8d9-8345-4277-811f-76d68113e476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="8a2f11e6-1539-4d2c-b3b3-e0427c3c096a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="8ecb291f-555a-4085-987c-ba262869d829")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="ac7b2653-ebc1-4875-b72f-36764ecf2647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="a98d93f9-9bd3-4b98-a1aa-9205a68986d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="e6b47491-90f5-43c4-b323-63a1a3ca8fd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="f3d2773b-a67b-4d28-9c4d-2d476d3674c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="59c128ae-3910-4bb7-a7e7-3359f2923e03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="3a50d4d7-a416-45cf-aaa8-be1c9387f706")>]

In [51]:
for i in avg_salaries_tags:
    avg_salary=i.text
    Average_salary.append(avg_salary)
Average_salary[0:10]

['₹ 12,64,182\n/yr',
 '₹ 7,30,968\n/yr',
 '₹ 6,00,000\n/yr',
 '₹ 9,94,055\n/yr',
 '₹ 7,39,040\n/yr',
 '₹ 13,37,114\n/yr',
 '₹ 7,80,374\n/yr',
 '₹ 11,98,792\n/yr',
 '₹ 10,08,143\n/yr',
 '₹ 11,34,989\n/yr']

In [60]:
#Extract the tag having the Max Salary
max_salaries_tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
max_salaries_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="c8c87bdb-bd82-496d-b83d-3902cf425feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="13e19966-7048-46c1-a20b-786fa2eaf365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="a5bc0c40-bb6d-463a-bbfa-997c30c46dd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="40d9aaed-c3f9-4668-89dd-a88b755c8a88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="7d253f41-348f-4a7e-9fa4-983e87434701")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="dfe1bebe-b959-4a49-b473-f3350c7ae4d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="bac1c201-913a-49cb-98c9-7ad149740500")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="5a61bfd0-d40c-4d81-9208-c68520bb6a93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="f4926c6e-7207-447d-83ce-c14f87de3856")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0d48ab4c80476d50e5f83e28928f7a59", element="1316acd2-f874-4056-b1c9-7f8eb510a024")>]

In [61]:
for i in max_salaries_tags:
    max_salary=i.text
    Max_salary.append(max_salary)
Max_salary[0:10]

['₹450K\n₹11,630K',
 '₹350K\n₹1,614K',
 '₹336K\n₹1,010K',
 '₹577K\n₹2,215K',
 '₹587K\n₹2,732K',
 '₹717K\n₹1,575K',
 '₹502K\n₹1,152K',
 '₹621K\n₹1,696K',
 '₹793K\n₹1,264K',
 '₹576K\n₹1,500K']

In [62]:
#Now we need to check the length of lists
print(len(company_names),len(No_of_salaries),len(Average_salary),len(Max_salary))

20 20 20 20

In [63]:
Salaries=pd.DataFrame({})
Salaries['Copmpany_Name']=company_names[0:10]
Salaries['No_of_salaries']=No_of_salaries[0:10]
Salaries['Average_salary']=Average_salary[0:10]
Salaries['Max_salary']=Max_salary[0:10]

In [64]:
Salaries

,Copmpany_Name,No_of_salaries,Average_salary,Max_salary
0,Delhivery,13 salaries,"₹ 12,64,182\n/yr","₹450K\n₹11,630K"
1,Ericsson-Worldwide,12 salaries,"₹ 7,30,968\n/yr","₹350K\n₹1,614K"
2,Tata Consultancy Services,11 salaries,"₹ 6,00,000\n/yr","₹336K\n₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055\n/yr","₹577K\n₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040\n/yr","₹587K\n₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114\n/yr","₹717K\n₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374\n/yr","₹502K\n₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792\n/yr","₹621K\n₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143\n/yr","₹793K\n₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989\n/yr","₹576K\n₹1,500K"