In [21]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [22]:
import selenium
from selenium import webdriver

In [23]:
driver=webdriver.Chrome("D:\\chromedriver_win32\\chromedriver.exe")

In [24]:
driver.close()

In [25]:
driver=webdriver.Chrome("D:\\chromedriver_win32\\chromedriver.exe")

In [26]:
driver.get('https://www.naukri.com/')

In [27]:
#finding element for job search bar

search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc= driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [28]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [29]:
#Specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [30]:
#Lets open the webpage through our web driver
driver.get(url)

#Now we need to create empty lists for 4 features
1.job_titles 2.job_locations 3.company_names 4.full_job_description

In [31]:
job_titles=[]
job_locations=[]
company_names=[]
job_description=[]

In [32]:
#Extract the tag having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="a3e2556d-d950-427a-a924-5d07b2196310")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="92348919-3aa6-41f5-8c69-65e219bd6b51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="87fb252e-ee6e-4543-a29e-6d2c6e15d6fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="a8d54f83-ad0e-43a2-9f1c-cda0a0e866d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="8cdbc616-aecc-4030-bdc5-209221c41a8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="3cc8894a-cada-43a5-9c3c-f204dc9bcc70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="8b0c15c2-203f-4ced-ac4b-0d27089149f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="22ddc0df-2bab-45e1-9bec-a883dd1e4945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="53c26376-243e-4691-98ab-1db1d9c7912c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="6283b874-06e4-4608-9bd9-7cc13e741ca9")>]

In [33]:
#Now need to extratc the text from these tags

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst']

In [34]:
#Now need to extract the tags having job locations

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="dfc9ff92-838a-4f85-a93b-d393d28df7fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="ce379c14-0fe2-4498-9dd2-340a703c8747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="8b94505f-2a53-4029-a5a7-d67a5ce6f0c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="c50688f1-d926-46aa-a74a-e0c315c06ea9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="84a8eb85-61c1-41c4-831b-5f53887c88be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="aabe2eec-78c3-423f-9f4a-700c2612556b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="3f8bb519-70eb-4ac6-966e-7545f3feb126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="a5dda116-3d29-4df3-9703-9346a7a089be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="9c4bfbef-873f-4afa-88e5-c7623cf6766b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="6d167b8b-d041-47b7-8a7a-a208f22ad46e")>]

In [35]:
for i in locations_tags:
    location_name=i.text
    job_locations.append(location_name)
job_locations[0:10]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [36]:
#Now need to extract the tags having company names

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="d6c1970e-4771-439e-8adc-ea26ca4cd66b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="0946c37c-39e6-4579-bec8-67ed5da58db5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="c04c1fad-a3df-4b63-a6cf-882dea5d9d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="9cbe0ce3-1a9c-4f31-bc0d-100e5a1534e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="e5d1f42f-6ff9-4ef4-908f-b34edf2056ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="5193a9b4-e949-4410-aab2-18682c689d66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="77a07276-0d5a-4094-ac1f-1adc86145ebf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="2ffae582-bff0-4768-92e9-fc68261be070")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="dcd4c071-1421-41fa-86d9-d2e24bb71320")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="18008f25-0279-4d13-8a86-9055d50936c7")>]

In [37]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data']

In [38]:
#Now need to extract the tags having full job description
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
urls[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="a3e2556d-d950-427a-a924-5d07b2196310")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="92348919-3aa6-41f5-8c69-65e219bd6b51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="87fb252e-ee6e-4543-a29e-6d2c6e15d6fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="a8d54f83-ad0e-43a2-9f1c-cda0a0e866d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="8cdbc616-aecc-4030-bdc5-209221c41a8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="3cc8894a-cada-43a5-9c3c-f204dc9bcc70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="8b0c15c2-203f-4ced-ac4b-0d27089149f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="22ddc0df-2bab-45e1-9bec-a883dd1e4945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="53c26376-243e-4691-98ab-1db1d9c7912c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e9f6edd5d8cbcd4eca045f26878630e1", element="6283b874-06e4-4608-9bd9-7cc13e741ca9")>]

In [39]:
for i in urls:
    description=i.text
    job_description.append(description)
driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']").click()
job_description[0:10]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst']

In [40]:
#Now we need to check the length of lists
print(len(job_titles),len(job_locations),len(company_names),len(job_description))

20 20 20 20

In [41]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles[0:10]
jobs['Location']=job_locations[0:10]
jobs['Company']=company_names[0:10]
jobs['job_description']=job_description[0:10]

In [42]:
jobs

,Title,Location,Company,job_description
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB..."
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,Data Analyst - SAP
2,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,Hiring Data Analysts on Contract
3,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,Senior Data Analyst
4,Data Analyst,Bengaluru,Shell India Markets Private Limited,Data Analyst
5,Security Data Analyst,Bengaluru,Philips India Limited,Security Data Analyst
6,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,"Data Analyst -Azure Data lake, Azure Data factory"
7,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,Business / Data Analyst
8,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,Data Analyst - O2C - Bangalore
9,Intern Data Analyst,Bengaluru,Outsource Big Data,Intern Data Analyst