In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [2]:
import selenium

In [3]:
import pandas as pd

In [4]:
from selenium import webdriver

In [5]:
driver=webdriver.Chrome("D:\\chromedriver_win32\\chromedriver.exe")

In [6]:
driver.close()

In [7]:
driver=webdriver.Chrome("D:\\chromedriver_win32\\chromedriver.exe")

In [8]:
driver.get('https://www.naukri.com/')

In [9]:
#finding element for job search bar

search_job= driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc= driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [10]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [11]:
#Specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [12]:
#Lets open the webpage through our web driver
driver.get(url)

#Now we need to create empty lists for 4 features
1.job_titles 2.job_locations 3.company_names 4.experience_required

In [13]:
job_titles=[]
job_locations=[]
company_names=[]
experience_required=[]

In [14]:
#Extract the tag having the job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="9aaa3ae1-551d-4210-a464-476123cb9928")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="b35774d0-2b7d-4292-be75-6072dbacea55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="3dad2ec5-9401-4d6d-8111-c86289504b6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="c86d08f5-ee26-4726-932f-1fb1a2ff2d5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="fba9ff0d-2a68-4d6d-a60f-9b6e924a0004")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="2ea3f755-8fb1-4c86-958d-e9230a18a3ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="8576e268-2e07-4eec-bf3e-658f8673eaa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="44ed5d18-27ae-402e-bbba-2456a5045a29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="d0bb8d93-91cc-4b87-ba96-affd669b0b9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="f9868e16-c631-4f43-9310-e2bb5ad7a9fe")>]

In [15]:
#Now need to extratc the text from these tags

for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst']

In [16]:
#Now need to extract the tags having job locations

locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="2e18bb52-fd61-49c9-8deb-feb6c22e592d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="0f968ec9-943a-4cf6-8404-384d5a117abf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="93596082-670b-4ff2-bd71-590de12edb8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="e4e87751-fa6d-496c-802e-9df54d5d477a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="91710283-95b5-42c6-9823-7f8b4bb80bc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="a5698076-4499-475e-b3c7-9e2345bf605d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="9e7a9363-884b-440a-8910-7bdbefa9e6c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="23f8dfa1-249f-4243-9420-13cc7d4e28e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="f693708b-1a00-4e92-93ef-690b8d547c41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="3d336110-c582-4351-b768-4b64750728f3")>]

In [17]:
for i in locations_tags:
    location_name=i.text
    job_locations.append(location_name)
job_locations[0:10]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [18]:
#Now need to extract the tags having company names

companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="44e22ca1-bbe9-4961-bbde-044e6bf1827e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="9db9fc1a-f864-471b-93e6-e9be070d1f17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="0028ceb2-7474-4cc7-a6b1-a85788bc3d8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="ee8f85d6-b579-47e0-b88c-58abd131934a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="80faeba1-6ca2-4569-8360-06a05a441c2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="31fed9f6-0173-449c-98c6-71e8cc7a52c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="47f4d158-ad87-4443-b7da-7a16b5e8437e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="9bf8dfd3-f2d5-4b0f-9b05-9b67d1bdc7af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="4f8f7ff3-5d61-4a73-b60a-30f1bcdd9e83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="ed8d46af-2d69-46fd-85ed-bdf1c5e72764")>]

In [19]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data']

In [20]:
#Now need to extract the tags having experience required

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="0b49e00f-20bc-400a-852d-635ea56282fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="e3325235-60a5-4715-b4af-94e57952220d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="69e26533-a28f-4020-b9ee-684eae97f1f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="f2ccf953-700b-4ee3-948a-6b58dde3659c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="4b5637bf-4a20-4fad-86b2-27a564065a5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="97bd9804-390f-4b48-be63-392abdd3a7d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="bdab9d36-7130-42bf-82c0-942df5306ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="6e851e8d-d6af-48ba-99ab-11b2dc69e45f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="3b79476c-c7ee-4a6c-bcc5-35cc6187a091")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac86b41017ec63dd9eb5d8633541a7c1", element="cadfdadc-3bb6-4593-ae6e-0801a9ffa37a")>]

In [21]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['1-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs']

In [22]:
#Now we need to check the length of lists
print(len(job_titles),len(job_locations),len(company_names),len(experience_required))

20 20 20 20

In [25]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles[0:10]
jobs['Location']=job_locations[0:10]
jobs['Company']=company_names[0:10]
jobs['Experience_req']=experience_required[0:10]

In [26]:
jobs

,Title,Location,Company,Experience_req
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
2,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
3,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
4,Data Analyst,Bengaluru,Shell India Markets Private Limited,5-8 Yrs
5,Security Data Analyst,Bengaluru,Philips India Limited,2-4 Yrs
6,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,5-9 Yrs
7,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
8,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
9,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs